body{
    font-size: 16px;
    font-family: Arial, sans-serif;
}

#wrapper{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}
.main-menu-wrapper{
    background-color: gray;
    height: 78px;
    display: block;
}

#content{
    background-color: darkseagreen;
    height: 700px;
    display: block;
}

#footer{
    background-color: gray;
    height: 80px;
    display: block;
}

#footer .content p{
    margin-top: 0;
    text-align: center;
    padding-top: 30px;
    color: white;
}

.menu-right{
    float: right;
    display: block;
}
.menu-right li{
    display: inline-block;
}

.homepage li{
    padding: 30px;
}

