.cart{
    background: url(images/cart.png) 20px center no-repeat;
    padding: 10px 20px 0 85px;
}

.homepage {
    background: url(images/logo.png) 20px center no-repeat;
    padding-left: 285px;
    float: left;
    margin: 0;
}