<h1>Portfolio</h1>
    <ul>
        <li><strong>Project 1</strong> - project description</li>
        <li><strong>Project 2</strong> - project description</li>
        <li><strong>Project 3</strong> - project description</li>
        <li><strong>Project 4</strong> - project description</li>
        <li><strong>Project 5</strong> - project description</li>
        <li><strong>Project 5</strong> - project description</li>
        <li><strong>Project 6</strong> - project description</li>
    </ul>